<!--
	Author:Celery  celery.mingyu.qin@kingland.com
	Date:2016-12-21
	Description:Multiple choices template
-->
<div class="container-fluid" ng-controller="multipleCtrl">
	<button ng-click="greet()">Click me!</button>
	<div>{{ title }}</div><div><ul><li ng-repeat="x in contents">{{ x.text }}</li></ul></div>
	<div><input ng-model="model"/></div><div><button ng-click="show({name:model})">show</button>
	<div class="row">
		<div class="question col-md-12">
			<ng-simditor content="question" editable="isEditable"></ng-simditor>
			<span ng-show='!isEditable' ng-bind-html-unsafe="question"></span>
		</div>
	</div>
	<div class="answer row">
		<div class="col-md-1">
			<input ng-model="checkChoice1" class="check" type="checkbox"></input>
		</div>
		<div class="col-md-10">
			<ng-simditor content="choice1" editable="isEditable"></ng-simditor>
			<span ng-show='isEditable' ng-bind-html-unsafe="choice1"></span>
		</div>
		<div class="col-md-1" ng-show='isEditable'>
			<a href="" ng-click="deleteQuestion()"><span class="glyphicon glyphicon-minus-sign"></span></a>
		</div>
	</div>
	<div class="answer row">
		<div class="col-md-1">
			<input ng-model="checkChoice2" class="check" type="checkbox"></input>
		</div>
		<div class="col-md-10">
			<ng-simditor content="choice2" editable="isEditable"></ng-simditor>
			<span ng-show='!isEditable' ng-bind-html-unsafe="choice2"></span>
		</div>
		<div class="col-md-1" ng-show='isEditable'>
			<a href="" ng-click="deleteQuestion()"><span class="glyphicon glyphicon-minus-sign"></span></a>
		</div>
	</div>
	<div class="answer row">
		<div class="col-md-1">
			<input ng-model="checkChoice3" class="check" type="checkbox"></input>
		</div>
		<div class="col-md-10">
			<ng-simditor content="choice3" editable="isEditable"></ng-simditor>
			<span ng-show='!isEditable' ng-bind-html-unsafe="choice3"></span>
		</div>
		<div class="col-md-1" ng-show='isEditable'>
			<a href="" ng-click="deleteQuestion()"><span class="glyphicon glyphicon-minus-sign"></span></a>
		</div>
	</div>
	<div class="answer row">
		<div class="col-md-1">
			<input ng-model="checkChoice4" class="check" type="checkbox"></input>
		</div>
		<div class="col-md-10">
			<ng-simditor content="choice4" editable="isEditable"></ng-simditor>
			<span ng-show='!isEditable' ng-bind-html-unsafe="choice4"></span>
		</div>
		<div class="col-md-1" ng-show='isEditable'>
			<a href="" ng-click="deleteQuestion()"><span class="glyphicon glyphicon-minus-sign"></span></a>
		</div>
	</div>
	<div class="foot row">
		<div class="col-md-1" ng-show='isEditable'>
			<a href="" ng-click="addQuestion()"><span class="glyphicon glyphicon-plus-sign"></span></a>
		</div>
		<div class="col-md-10" ng-show='isEditable'></div>
		<div class="col-md-1" ng-show='isEditable'>
			<button ng-click="save()" class="btn btn-default btn-lg">Save</button>
		</div>
	</div>
</div>